{% extends 'common/base.html' %}

{% block content %}
<div class="content_header">
    {% if user.img_profile %}
        <img src="{{ user.img_profile.url }}" alt="" width="200">
    {% endif %}
    <p>아이디: {{ user.username }}</p>
    <p>닉네임: {{ user.nickname }}</p>
    <p>슬랙 계정: {{ user.slack }}</p>
    <p>휴대전화번호: {{ user.phone }}</p>

    <form action="{% url 'member:profile_edit' %}" method="post">
        {% csrf_token %}
        <button type="submit">수정하기</button>
    </form>

    <form action="{% url 'member:user_delete' %}" method="post">
        {% csrf_token %}
        <button type="submit">탈퇴하기</button>
    </form>

    <form action="{% url 'member:sms_send' %}" method="post">
        {% csrf_token %}
        <button type="submit">문자보내기</button>
    </form>
</div>

{# 키워드 리스트 시작 #}
{#<div class="content_keyword">#}
{##}
{#</div>#}

{# 미팅 리스트 시작 #}
<div class="content_list">



</div>

{% endblock %}