{% extends 'common/base.html' %}

{% block content %}
<div class="content_header">
    {{ user.img_profile }}
    {{ user.img_profile.url }}
    {% if user.img_profile %}

        <img src="{{ user.img_profile.url }}" alt="" width="150">
    {% endif %}
    <p>아이디: {{ user.username }}</p>
    <p>닉네임: {{ user.nickname }}</p>
    <p>슬랙 계정: {{ user.slack }}</p>
    <p>휴대전화번호: {{ user.phone }}</p>
    <p></p>

    <form action="{% url 'member:user_delete' %}" method="post">
        {% csrf_token %}
        <button type="submit">DELETE ACCOUNT</button>
    </form>
</div>

{# 키워드 리스트 시작 #}
<div class="content_keyword">

</div>

{# 미팅 리스트 시작 #}
<div class="content_list">

</div>

{% endblock %}