<div class="top-empty"></div>
<div class="content-container">
    <div class="content">
        {% for data in datas %}
        <div class="events">
            <div class="thumbnail">
                 <a href="{{ data.detail_link }}">
                     <img src="{{ data.img_news }}">
                 </a>
            </div>
            <div class="title">
                <a href="{{ data.detail_link }}">{{ data.title }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>