.container {
  width: 100%;
  height: auto;

  .top-bar {
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    background: #333333;
    color: #fff;
    text-align: right;

    ul {
      margin: 0;
      padding: 0 30px;

      li {
        list-style: none;
        display: inline;

        a {
          font-size: 13px;
          color: #EAEAEA;
          padding: 0 10px;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .logoNsearch {
    width: 100%;
    height: 70px;
    line-height: 70px;
    float: left;

    .logo {
      font-family: 'Gochi Hand', 'Walter Turncoat';
      font-size: 28px;
      font-weight: bold;
      width:35%;
      float: left;

      a {
        color: #60DB96;
        padding-left: 50px;

        &:hover {
          color: pink;
        }
      }
    }

    .search {
      input[type=text] {
        width: 350px;
      }
    }
  }
}
